<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 功能模块:  -->
<mapper namespace="AuthClientServiceEntityMapper" >

	<!--通用表字段列表-->
	<resultMap id="BaseResultMap" type="com.skycloud.base.oauth.server.entity.AuthClientServiceEntity">
		<result column="ID" property="id" jdbcType="INTEGER"/>
		<result column="SERVICE_ID" property="serviceId" jdbcType="VARCHAR"/>
		<result column="CLIENT_ID" property="clientId" jdbcType="VARCHAR"/>
		<result column="DESCRIPTION" property="description" jdbcType="VARCHAR"/>
		<result column="CRT_TIME" property="crtTime" jdbcType="DATE"/>
		<result column="CRT_USER" property="crtUser" jdbcType="VARCHAR"/>
		<result column="CRT_NAME" property="crtName" jdbcType="VARCHAR"/>
		<result column="CRT_HOST" property="crtHost" jdbcType="VARCHAR"/>
		<result column="ATTR1" property="attr1" jdbcType="VARCHAR"/>
		<result column="ATTR2" property="attr2" jdbcType="VARCHAR"/>
		<result column="ATTR3" property="attr3" jdbcType="VARCHAR"/>
		<result column="ATTR4" property="attr4" jdbcType="VARCHAR"/>
		<result column="ATTR5" property="attr5" jdbcType="VARCHAR"/>
		<result column="ATTR6" property="attr6" jdbcType="VARCHAR"/>
		<result column="ATTR7" property="attr7" jdbcType="VARCHAR"/>
		<result column="ATTR8" property="attr8" jdbcType="VARCHAR"/>
    </resultMap>
    <!--通用表字段列表-->
    
	<!--user customize code start-->

	<!--user customize code end  -->
    
	<!--通用查询条件组装-->
	<sql id="whereContation">
			<if test="id != null">
				AND  ID=#{id,jdbcType=INTEGER}  
			</if>
			<if test="serviceId != null">
				AND  SERVICE_ID=#{serviceId,jdbcType=VARCHAR}  
			</if>
			<if test="clientId != null">
				AND  CLIENT_ID=#{clientId,jdbcType=VARCHAR}  
			</if>
			<if test="description != null">
				AND  DESCRIPTION=#{description,jdbcType=VARCHAR}  
			</if>
			<if test="crtTime != null">
				AND  CRT_TIME=#{crtTime,jdbcType=DATE}  
			</if>
			<if test="crtUser != null">
				AND  CRT_USER=#{crtUser,jdbcType=VARCHAR}  
			</if>
			<if test="crtName != null">
				AND  CRT_NAME=#{crtName,jdbcType=VARCHAR}  
			</if>
			<if test="crtHost != null">
				AND  CRT_HOST=#{crtHost,jdbcType=VARCHAR}  
			</if>
			<if test="attr1 != null">
				AND  ATTR1=#{attr1,jdbcType=VARCHAR}  
			</if>
			<if test="attr2 != null">
				AND  ATTR2=#{attr2,jdbcType=VARCHAR}  
			</if>
			<if test="attr3 != null">
				AND  ATTR3=#{attr3,jdbcType=VARCHAR}  
			</if>
			<if test="attr4 != null">
				AND  ATTR4=#{attr4,jdbcType=VARCHAR}  
			</if>
			<if test="attr5 != null">
				AND  ATTR5=#{attr5,jdbcType=VARCHAR}  
			</if>
			<if test="attr6 != null">
				AND  ATTR6=#{attr6,jdbcType=VARCHAR}  
			</if>
			<if test="attr7 != null">
				AND  ATTR7=#{attr7,jdbcType=VARCHAR}  
			</if>
			<if test="attr8 != null">
				AND  ATTR8=#{attr8,jdbcType=VARCHAR}  
			</if>
	</sql>
	
	<!--查询字段列表拼装-->
	<sql id="baseColumnList">
			 ID		 
			,SERVICE_ID		 
			,CLIENT_ID		 
			,DESCRIPTION		 
			,CRT_TIME		 
			,CRT_USER		 
			,CRT_NAME		 
			,CRT_HOST		 
			,ATTR1		 
			,ATTR2		 
			,ATTR3		 
			,ATTR4		 
			,ATTR5		 
			,ATTR6		 
			,ATTR7		 
			,ATTR8		 
	</sql>
	
	<!--
	方法名称: insert
	调用路径: AuthClientServiceEntityMapper.insert
	开发信息: 
	处理信息: 保存记录
	-->
 	<insert id="insert" parameterType="com.skycloud.base.oauth.server.entity.AuthClientServiceEntity" >
	 	INSERT  INTO  AUTH_CLIENT_SERVICE
	 		<trim prefix="(" suffix=")" suffixOverrides=",">
					<if test="id != null">
					ID,
					</if>
					<if test="serviceId != null">
					SERVICE_ID,
					</if>
					<if test="clientId != null">
					CLIENT_ID,
					</if>
					<if test="description != null">
					DESCRIPTION,
					</if>
					<if test="crtTime != null">
					CRT_TIME,
					</if>
					<if test="crtUser != null">
					CRT_USER,
					</if>
					<if test="crtName != null">
					CRT_NAME,
					</if>
					<if test="crtHost != null">
					CRT_HOST,
					</if>
					<if test="attr1 != null">
					ATTR1,
					</if>
					<if test="attr2 != null">
					ATTR2,
					</if>
					<if test="attr3 != null">
					ATTR3,
					</if>
					<if test="attr4 != null">
					ATTR4,
					</if>
					<if test="attr5 != null">
					ATTR5,
					</if>
					<if test="attr6 != null">
					ATTR6,
					</if>
					<if test="attr7 != null">
					ATTR7,
					</if>
					<if test="attr8 != null">
					ATTR8,
					</if>
			</trim>
			<trim prefix="values (" suffix=")" suffixOverrides=",">
					<if test="id != null">
					 #{id,jdbcType=INTEGER},
					</if>
					<if test="serviceId != null">
					 #{serviceId,jdbcType=VARCHAR},
					</if>
					<if test="clientId != null">
					 #{clientId,jdbcType=VARCHAR},
					</if>
					<if test="description != null">
					 #{description,jdbcType=VARCHAR},
					</if>
					<if test="crtTime != null">
					 #{crtTime,jdbcType=DATE},
					</if>
					<if test="crtUser != null">
					 #{crtUser,jdbcType=VARCHAR},
					</if>
					<if test="crtName != null">
					 #{crtName,jdbcType=VARCHAR},
					</if>
					<if test="crtHost != null">
					 #{crtHost,jdbcType=VARCHAR},
					</if>
					<if test="attr1 != null">
					 #{attr1,jdbcType=VARCHAR},
					</if>
					<if test="attr2 != null">
					 #{attr2,jdbcType=VARCHAR},
					</if>
					<if test="attr3 != null">
					 #{attr3,jdbcType=VARCHAR},
					</if>
					<if test="attr4 != null">
					 #{attr4,jdbcType=VARCHAR},
					</if>
					<if test="attr5 != null">
					 #{attr5,jdbcType=VARCHAR},
					</if>
					<if test="attr6 != null">
					 #{attr6,jdbcType=VARCHAR},
					</if>
					<if test="attr7 != null">
					 #{attr7,jdbcType=VARCHAR},
					</if>
					<if test="attr8 != null">
					 #{attr8,jdbcType=VARCHAR},
					</if>
			</trim>
	</insert>
	
	<!--
	方法名称: update
	调用路径: AuthClientServiceEntityMapper.update
	开发信息: 
	处理信息: 修改记录
	-->
 	<update id="update" parameterType="com.skycloud.base.oauth.server.entity.AuthClientServiceEntity" >
		UPDATE   AUTH_CLIENT_SERVICE  	 
	  	<set> 
				<if test="serviceId != null">
			 		SERVICE_ID = #{serviceId,jdbcType=VARCHAR},
			 	</if>
				<if test="clientId != null">
			 		CLIENT_ID = #{clientId,jdbcType=VARCHAR},
			 	</if>
				<if test="description != null">
			 		DESCRIPTION = #{description,jdbcType=VARCHAR},
			 	</if>
				<if test="crtTime != null">
			 		CRT_TIME = #{crtTime,jdbcType=DATE},
			 	</if>
				<if test="crtUser != null">
			 		CRT_USER = #{crtUser,jdbcType=VARCHAR},
			 	</if>
				<if test="crtName != null">
			 		CRT_NAME = #{crtName,jdbcType=VARCHAR},
			 	</if>
				<if test="crtHost != null">
			 		CRT_HOST = #{crtHost,jdbcType=VARCHAR},
			 	</if>
				<if test="attr1 != null">
			 		ATTR1 = #{attr1,jdbcType=VARCHAR},
			 	</if>
				<if test="attr2 != null">
			 		ATTR2 = #{attr2,jdbcType=VARCHAR},
			 	</if>
				<if test="attr3 != null">
			 		ATTR3 = #{attr3,jdbcType=VARCHAR},
			 	</if>
				<if test="attr4 != null">
			 		ATTR4 = #{attr4,jdbcType=VARCHAR},
			 	</if>
				<if test="attr5 != null">
			 		ATTR5 = #{attr5,jdbcType=VARCHAR},
			 	</if>
				<if test="attr6 != null">
			 		ATTR6 = #{attr6,jdbcType=VARCHAR},
			 	</if>
				<if test="attr7 != null">
			 		ATTR7 = #{attr7,jdbcType=VARCHAR},
			 	</if>
				<if test="attr8 != null">
			 		ATTR8 = #{attr8,jdbcType=VARCHAR},
			 	</if>
		</set>
		WHERE  
			ID = #{id,jdbcType=INTEGER}		 
	</update>
	
	<!--
	方法名称: updateBak
	调用路径: AuthClientServiceEntityMapper.updateBak
	开发信息: 
	处理信息: 修改记录
	-->
 	<update id="updateBak" parameterType="com.skycloud.base.oauth.server.entity.AuthClientServiceEntity" >
		UPDATE   AUTH_CLIENT_SERVICE  	 
	  	<set> 
			 		SERVICE_ID = #{serviceId,jdbcType=VARCHAR},
			 		CLIENT_ID = #{clientId,jdbcType=VARCHAR},
			 		DESCRIPTION = #{description,jdbcType=VARCHAR},
			 		CRT_TIME = #{crtTime,jdbcType=DATE},
			 		CRT_USER = #{crtUser,jdbcType=VARCHAR},
			 		CRT_NAME = #{crtName,jdbcType=VARCHAR},
			 		CRT_HOST = #{crtHost,jdbcType=VARCHAR},
			 		ATTR1 = #{attr1,jdbcType=VARCHAR},
			 		ATTR2 = #{attr2,jdbcType=VARCHAR},
			 		ATTR3 = #{attr3,jdbcType=VARCHAR},
			 		ATTR4 = #{attr4,jdbcType=VARCHAR},
			 		ATTR5 = #{attr5,jdbcType=VARCHAR},
			 		ATTR6 = #{attr6,jdbcType=VARCHAR},
			 		ATTR7 = #{attr7,jdbcType=VARCHAR},
			 		ATTR8 = #{attr8,jdbcType=VARCHAR},
		</set>
		WHERE  
			ID = #{id,jdbcType=INTEGER}		 
	</update>
	
	<!--
	方法名称: deleteByPriKey
	调用路径:AuthClientServiceEntityMapper.deleteByPriKey
	开发信息: 
	处理信息: 删除记录
	-->
	<delete id="deleteByPriKey" parameterType="com.skycloud.base.oauth.server.entity.AuthClientServiceEntity">
		DELETE 	FROM AUTH_CLIENT_SERVICE 	 
		WHERE 
			ID = #{id,jdbcType=INTEGER}		 
	</delete>
	
	<!--
	方法名称: findByPriKey
	调用路径: AuthClientServiceEntityMapper.findByPriKey
	开发信息: 
	处理信息: 根据主键查询记录
	-->
	<select id="findByPriKey" parameterType="com.skycloud.base.oauth.server.entity.AuthClientServiceEntity"  resultType="com.skycloud.base.oauth.server.entity.AuthClientServiceEntity">
		SELECT   
		   <include refid="baseColumnList"/>
		FROM   AUTH_CLIENT_SERVICE         
		WHERE
				ID = #{id,jdbcType=INTEGER}		 
	</select>
	
	<!--
	方法名称: getPagenationList
	调用路径: AuthClientServiceEntityMapper.getPagenationList
	开发信息: 
	处理信息: 分页查询记录
	-->
	<select id="getPagenationList" parameterType="com.skycloud.base.oauth.server.entity.AuthClientServiceEntity"  resultType="com.skycloud.base.oauth.server.entity.AuthClientServiceEntity">
		<!-- 分页条 -->
		<include refid="CommonEntity.paginationPrefix"/>
		SELECT   
	 		<include refid="baseColumnList"/>
		FROM   AUTH_CLIENT_SERVICE          
		WHERE 1=1
		 	<include refid="whereContation"/>
		 	<if test="columnSort != null">
		 	ORDER BY ${columnSort}
		 	</if>
		<!-- 分页条 -->
		<include refid="CommonEntity.paginationSuffix"/>
	</select>
	
	<!--
	方法名称: getPagenationList-count
	调用路径: AuthClientServiceEntityMapper.getPagenationList-count
	开发信息: 
	处理信息: 查询记录数
	-->
	<select id="getPagenationList-count" parameterType="com.skycloud.base.oauth.server.entity.AuthClientServiceEntity" resultType="int">
		SELECT count(1)  FROM  AUTH_CLIENT_SERVICE     
		 WHERE 1=1
		<include refid="whereContation"/>
	</select>
	
	<!--
	方法名称: getList
	调用路径: AuthClientServiceEntityMapper.getList
	开发信息: 
	处理信息: 根据条件查询记录
	-->
	<select id="getList" parameterType="com.skycloud.base.oauth.server.entity.AuthClientServiceEntity"  resultType="com.skycloud.base.oauth.server.entity.AuthClientServiceEntity">
	   SELECT   
	   		<include refid="baseColumnList"/>
	   FROM   AUTH_CLIENT_SERVICE           
	   WHERE 1=1
		<include refid="whereContation"/>
		<if test="columnSort != null">
		 	ORDER BY ${columnSort}
		</if>
		limit 0,100
	</select>
	
	
	<!--
	方法名称: batchInsert
	调用路径: AuthClientServiceEntityMapper.batchInsert
	开发信息: 
	处理信息: 保存记录
	-->
 	<insert id="batchInsert" parameterType="java.util.List" >
	 	INSERT  INTO  AUTH_CLIENT_SERVICE
	 		<trim prefix="(" suffix=")" suffixOverrides=",">
					ID,
					SERVICE_ID,
					CLIENT_ID,
					DESCRIPTION,
					CRT_TIME,
					CRT_USER,
					CRT_NAME,
					CRT_HOST,
					ATTR1,
					ATTR2,
					ATTR3,
					ATTR4,
					ATTR5,
					ATTR6,
					ATTR7,
					ATTR8,
			</trim>
			values
			<foreach collection="list" item="entity" separator=",">
			<trim prefix="(" suffix=")" suffixOverrides=",">
					 #{entity.id,jdbcType=INTEGER},
					 #{entity.serviceId,jdbcType=VARCHAR},
					 #{entity.clientId,jdbcType=VARCHAR},
					 #{entity.description,jdbcType=VARCHAR},
					 #{entity.crtTime,jdbcType=DATE},
					 #{entity.crtUser,jdbcType=VARCHAR},
					 #{entity.crtName,jdbcType=VARCHAR},
					 #{entity.crtHost,jdbcType=VARCHAR},
					 #{entity.attr1,jdbcType=VARCHAR},
					 #{entity.attr2,jdbcType=VARCHAR},
					 #{entity.attr3,jdbcType=VARCHAR},
					 #{entity.attr4,jdbcType=VARCHAR},
					 #{entity.attr5,jdbcType=VARCHAR},
					 #{entity.attr6,jdbcType=VARCHAR},
					 #{entity.attr7,jdbcType=VARCHAR},
					 #{entity.attr8,jdbcType=VARCHAR},
			</trim>
			</foreach>
	</insert>
	<!--
	方法名称: batchUpdate
	调用路径: AuthClientServiceEntityMapper.batchUpdate
	开发信息: 
	处理信息: 修改记录
	-->
 	<update id="batchUpdate" parameterType="java.util.List" >
 		<foreach collection="list" item="entity" separator=",">
		UPDATE   AUTH_CLIENT_SERVICE  	 
	  	<set> 
				<if test="serviceId != null">
			 		SERVICE_ID = #{entity.serviceId,jdbcType=VARCHAR},
			 	</if>
				<if test="clientId != null">
			 		CLIENT_ID = #{entity.clientId,jdbcType=VARCHAR},
			 	</if>
				<if test="description != null">
			 		DESCRIPTION = #{entity.description,jdbcType=VARCHAR},
			 	</if>
				<if test="crtTime != null">
			 		CRT_TIME = #{entity.crtTime,jdbcType=DATE},
			 	</if>
				<if test="crtUser != null">
			 		CRT_USER = #{entity.crtUser,jdbcType=VARCHAR},
			 	</if>
				<if test="crtName != null">
			 		CRT_NAME = #{entity.crtName,jdbcType=VARCHAR},
			 	</if>
				<if test="crtHost != null">
			 		CRT_HOST = #{entity.crtHost,jdbcType=VARCHAR},
			 	</if>
				<if test="attr1 != null">
			 		ATTR1 = #{entity.attr1,jdbcType=VARCHAR},
			 	</if>
				<if test="attr2 != null">
			 		ATTR2 = #{entity.attr2,jdbcType=VARCHAR},
			 	</if>
				<if test="attr3 != null">
			 		ATTR3 = #{entity.attr3,jdbcType=VARCHAR},
			 	</if>
				<if test="attr4 != null">
			 		ATTR4 = #{entity.attr4,jdbcType=VARCHAR},
			 	</if>
				<if test="attr5 != null">
			 		ATTR5 = #{entity.attr5,jdbcType=VARCHAR},
			 	</if>
				<if test="attr6 != null">
			 		ATTR6 = #{entity.attr6,jdbcType=VARCHAR},
			 	</if>
				<if test="attr7 != null">
			 		ATTR7 = #{entity.attr7,jdbcType=VARCHAR},
			 	</if>
				<if test="attr8 != null">
			 		ATTR8 = #{entity.attr8,jdbcType=VARCHAR},
			 	</if>
		</set>
		WHERE  
			ID = #{id,jdbcType=INTEGER}		 
		</foreach>
	</update>


	<select id="getAllowClient" parameterType="java.lang.String" resultType="com.skycloud.base.oauth.server.entity.AuthClientEntity">
		select
			 c.ID
			,c.CODE
			,c.SECRET
			,c.NAME
			,c.LOCKED
			,c.DESCRIPTION
			,c.CRT_TIME
			,c.CRT_USER
			,c.CRT_NAME
			,c.CRT_HOST
			,c.UPD_TIME
			,c.UPD_USER
			,c.UPD_NAME
			,c.UPD_HOST
			,c.ATTR1
			,c.ATTR2
			,c.ATTR3
			,c.ATTR4
			,c.ATTR5
			,c.ATTR6
			,c.ATTR7
			,c.ATTR8
		from auth_client c
		INNER JOIN auth_client_service s on c.id=s.client_id
		where s.service_id=#{serviceId,jdbcType=VARCHAR}
	</select>
</mapper>